// COULEURS
$c-primary: #ffd89d;
$c-secondary: #fffce2 ;
$c-light: rgb(228, 228, 228) ;
$c-dark: #0f1421 ;
$c-bg: #ffe9c9;
$c-yellowBg: #fefec8;

// ESPACEMENT
$bigpad: 20rem;
$padding: clamp(2rem, 15rem, 15rem);
$midpad: clamp(2rem, -0.5714rem + 7.1429vw, 8rem);
$smallpad: 2rem;
